body{

}

.main {
	margin: 20px auto;
    font-size: 25px;
    line-height: 50px;
}

.main span{
	color: red;
}

.main a{
	color: red;
	text-decoration: underline;
}
span.normal {
	color: #000;
}

.down {
	background: url(../styles/down_btn.jpg);
	display: inline-block;
	width: 216px;
	height: 65px;
}